
<!DOCTYPE html>
<html lang="en">
   <%-include('partials/header') %>
   <body>
    <%-include('partials/navbar') %>
    <div class="main container p-3">
        <h1>Would you like to add a book to the database?</h1>
        <% if (message) { %>
            <div id="alert" class = "alert alert-<%= message.type %>">
                <strong> <%= message.intro %></strong> <%= message.message %>
            </div>
        <% } %>
        <form class="form-group" method ="POST" id = "add-book-form" action = "/addbooks/search">
                <label for = "book-title" class = "book-form-content" >Title : </label>
                <input class = "book-form-content form-control" name = "title" id = "book-title" placeholder="title"/> <br>
                <label for = "book-author" class = "book-form-content" >Author : </label>
                <input class = "book-form-content form-control" name = "author" id = "book-author" placeholder="author"/><br>
                <label for = "book-ISBN" class = "book-form-content" >ISBN : </label>
                <input class = "book-form-content form-control" name = "ISBN" id = "book-ISBN" placeholder = "ISBN"><br>
                <label for = "book-publisher" class = "book-form-content" >Publisher : </label>
                <input class = "book-form-content form-control" name = "publisher" id = "book-publisher" placeholder="publisher"><br>
                <button class = "book-form-content btn btn-primary" type="submit">Submit</button>
          </form>
    </div>
    <% if(flag == "y"){%>

        <table class="table">
            <thead class="thead-dark"> 
              <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Description</th>
                <th scope="col">Genre</th>
                <th scope="col">ISBN</th>
                <th scope="col">Add</th>
              </tr>
            </thead>
            <tbody>
                <% matchingBookInfo.forEach(function(data){ %>
                    <tr>
                        <form method="POST" action = "/addbooks/add"> 
                        <td><%= data.cover %><input name = "cover" value = "<%= data.cover %>" style = "display: none;"></td>
                        <td><%= data.title %><input name = "title" value = "<%= data.title %>" style = "display: none;"></td>
                        <td><%= data.author %><input name = "author" value = "<%= data.author %>" style = "display: none;"></td>
                        <td><%= data.description %><input name = "description" value = "<%= data.description %>" style = "display: none;"></td>
                        <td><%= data.genre %><input name = "genre" value = "<%= data.genre %>" style = "display: none;"></td>
                        <td><%= data.ISBN %><input name = "ISBN" value = "<%= data.ISBN %>" style = "display: none;"></td>
                        <td><input type="submit" class="btn btn-outline-success mb-2">Add Book</button></td>
                        </form>
                      </tr>
                 <% }) %> 
              
            </tbody>
          </table>
          <% } %>

       
        <% if(flag == "n"){%>
        
        <div class="modal-header bg-dark">
            <h5 class="modal-title text-white">We couldn't find the book you were looking for. Please check if you provided all the details correctly</h5>
        </div>
        <div class = "add-book-button-container">
            <button type = "button" class = "btn btn-info" onClick = "removeModal();"> Exit </button>
        </div>
        <% } %>
    <%-include('partials/footer') %>
</body>
</html>