<!DOCTYPE html>
<html lang="en">
   <%-include('partials/header') %>
   <body onload='cardAnimation();'>
      <%-include('partials/navbar') %>
      <div class ="main book-match">
         <div class="bookcard-container">
            <% bookInfo.forEach(function(data){ %>
               <div class="bookcard" id="<%= data.name %>">
                  <div class="bookcard-contents row d-flex">
                     <div class="bookcard-image col-lg-4">
                        <img src="<%= data.link %>"/>
                     </div>
                     <div class="bookcard-info col-lg-8 d-none d-lg-block">
                        <div class="bookcard-title p-3">
                           <h2><%= data.name %></h1>
                        </div>
                        <div class="bookcard-author">
                           <h3 class = "text-muted">By <%= data.author %></h2>
                        </div>
                        <div class="bookcard-author text-left">
                           <h4 class = "text-left">Reviewers One Liners:</h3>
                              <% oneliner.forEach(function(oneliner){ %>
                                 <%if (oneliner.name = data.name && oneliner.oneline != null) { %>
                                    <p class = "text-left"><%= oneliner.oneline %></p>
                                 <% } %>
                              <% }) %> 
                        </div>
                     </div>
                  </div>
               </div>
            <% }) %>
         </div>
        
         <form id = "matchmaking-form" method ="POST" action ="/match/submit" class = "p-3">
            <div class="button-container">
               <button type="button" class="btn btn-danger p-3" id="nope"><h1><i class ="fa fa-thumbs-down"></i></h2></button>
                  <button type="button" class="btn btn-success p-3" id="love"><h1><i class ="fa fa-thumbs-up"></i></h1></button>
               <input id="match-top-book" name ="currentbook" value ="" style="display:none">
            </div>
         </form>

      </div>
      <%-include('partials/footer') %>
   </body>
</html>

