<!DOCTYPE html>
<html lang="en">
   <%-include('partials/header') %>
   <body onload='cardAnimation();'>
      <%-include('partials/navbar') %>
      <div class ="main book-match">
         <div class="bookcard-container">
            <% bookInfo.forEach(function(data){ %>
               <div class="bookcard">
                  <div class="bookcard-contents">
                     <div class="bookcard-image">
                        <img src="<%= data.link %>" alt="wizard" />
                     </div>
                     <div class="bookcard-title p-3">
                        <h4><%= data.name %></h4>
                     </div>
                     <div class="bookcard-author p-3">
                        <h6>By <%= data.author %></h6>
                     </div>
                  </div>
               </div>
            <% }) %>
         </div>
         <div class="button-container">
            <button type="button" class="btn btn-danger" id="nope">NOPE</button>
            <button type="button" class="btn btn-success" id="love">LIKE</button>
         </div>
      </div>
      <%-include('partials/footer') %>
   </body>
</html>