<!DOCTYPE html>
<html lang="en">
    <%-include('partials/header') %>
    <body onload="checkSwitch();">
        <%-include('partials/navbar') %>
        <div class ="container p-3">
        <% if (message) { %>
            <div id="alert" class = "alert alert-<%= message.type %>">
                <strong> <%= message.intro %></strong> <%= message.message %>
            </div>
        <% } %>
        <h1>User1 - Profile Settings</h1>
        <h3 class = "text-muted pt-3">Genre Preferences</h3>
        <form method = "POST" action = "/profile/genre">
            <% savedGenre.forEach((data)=> { %>
                <% if(userSetting.includes(data.name)){ %>
                <div class="form-check form-switch">
                    <input class="form-check-input big-switch" type="checkbox" name = "genre" value ="<%= data.name %>" checked>
                    <label class="form-check-label" for="flexSwitchCheckDefault"><%= data.name %></label>
                </div>
                <% } else { %>
                <div class="form-check form-switch">
                    <input class="form-check-input big-switch" type="checkbox" name = "genre" value ="<%= data.name %>">
                    <label class="form-check-label" for="flexSwitchCheckDefault"><%= data.name %></label>
                </div>
                <% } %>
            <% }) %>
            <button class = "book-form-content btn btn-primary" type="submit">Update</button>
        </form>
        <h3 class = "text-muted pt-3">Profile Settings</h3>
        <form>
            <label for = "book-title" class = "book-form-content" >Username : </label>
            <input class = "book-form-content form-control" name = "title" id = "book-title" placeholder="username"/> <br>
            <label for="exampleInputPassword1">Password:</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"><br>
            <button class = "book-form-content btn btn-primary" type="submit">Update</button>
      </form>
    </div>
        <%-include('partials/footer') %>
    </body>
</html>
