<!DOCTYPE html>
<html lang="en">
   <%-include('partials/header') %>
   <body>
      <%-include('partials/navbar') %>
      <div class ="container p-3">
         <h1>Wishlist - Books you have liked</h1>
         <!-- Start of the first book details -->
         <% bookInfo.forEach(function(data){%>
            <div class = "row h-100 p-3 justify-content-center align-items-center" id = "<%= data.title %>">
               <div class="col-xs-12 col-lg-3">
                  <img src ="<%= data.cover %>" class="mx-auto d-block">
               </div>
               <div class ="col-xs-0 col-lg-9">
                  <div class = "p-3">
                     <h2>
                     <%= data.title %> <small class="text-muted">By <%= data.author %></small></h2>
                     <p>"A group of old men overcome racial differences to take on the world’s most powerful jeweler."</p>
                     <p class="text-info">Adventure, Horror, Action</p>
                     <button type="button" class="btn btn-outline-success mb-2" onclick = "modalpopup('Very Enticing Novel');">Mark as Read</button>
                     <form method ="post" action = "/wishlist/remove">
                        <button type="submit" class="btn btn-outline-warning" name = title value ="<%= data.title %>">Remove Book</button>
                     </form>
                  </div>
               </div>
            </div>
         <% }) %>
      </div>
      <!-- Start of the modal div -->
      <div class="modal justify-content-center align-items-center" tabindex="-1" role="dialog" id="one-liner-entry">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-light">
               <div class="modal-header bg-dark">
                  <h5 class="modal-title text-white">Would you like to add a one liner?</h5>
               </div>
               <div class = "modal-sub-header">
                  <h6 id="modal-book-title" class = "text-muted p-3"></h6>
               </div>
               <form>
                  <div class="modal-body">
                     <input type="text" class="form-control" placeholder="Enter one liner here...">
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-outline-danger" id = "close-modal">Close</button>
                     <button type="button" class="btn btn-outline-primary">Submit</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <%-include('partials/footer') %>
   </body>
</html>
